body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #c6fcff;
}

main {
    flex: 1 0 auto;
}

header, footer {
    background-color: #1d3557;
}